:root {
    --bs-primary: #0d6efd;
    --task-item-hover: rgba(0, 0, 0, 0.05);
}


body {
    transition: background-color 0.3s, color 0.3s;
    padding: 20px;

    .container {
        max-width: 700px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}